---
import { Image } from "astro:assets";

import yggdrasilUndergroundFirstPlan from "@images/ui/yggdrasil-underground-first-plan.png";
import MediaCarousel from "./MediaCarousel.vue";
---

<section
  id="media-section"
  class="w-screen h-screen flex flex-col justify-center items-center bg-[url('images/backgrounds/yggdrasil-underground.jpg')] bg-cover bg-center relative overflow-hidden"
>
  <Image
    id="parallax-yggdrasil-underground"
    class="absolute -top-[55%] inset-0 w-full h-full object-cover overflow-hidden"
    src={yggdrasilUndergroundFirstPlan}
    alt="Yggdrasil underground branches"
    style="will-change: transform;"
  />
  <MediaCarousel client:load />
</section>

<script is:inline>
  window.addEventListener("DOMContentLoaded", () => {
    const img = document.getElementById("parallax-yggdrasil-underground");
    if (!img) return;
    window.addEventListener("scroll", () => {
      const scrolled = window.scrollY;
      img.style.transform = `translateY(${scrolled * 0.3}px)`;
    });
  });
</script>
