# ⚙️ Node & Package managers
/node_modules
/package-lock.json
/pnpm-lock.yaml
npm-debug.log*
yarn-error.log*

# 🏗️ Angular build output
/dist
/out-tsc
/.angular/cache
/tmp
/bazel-out

# 💅 Coverage reports
/coverage

# 📦 Typescript
/*.tsbuildinfo

# 🧪 Test logs
testem.log
/libpeerconnection.log

# 🌍 Env vars
.env
.env.*
!.env.example

# 🧠 IDEs & Editors
.idea/
.vscode/
*.sublime-workspace
.project
.classpath
.c9/
.settings/
*.launch
.history/

# 🧹 Cache & misc
.sass-cache/
.connect.lock
/typings
.angular/cache/

# 💻 System files
.DS_Store
Thumbs.db
