---
import { Image } from 'astro:assets';

import BaseLayout from '../layouts/BaseLayout.astro';
import Navbar from '../components/Navbar.astro';

import sunsetImage from '../images/sunset.jpg'
---

<BaseLayout title="FrostFall Saga">
    <div class="h-screen flex flex-col">
        <!-- Navigation -->
        <Navbar class="h-16 bg-gray-800 flex-shrink-0" />

        <!-- Image container that grows to fill remaining space -->
        <div class="flex-1">
            <Image
                class="w-full h-full object-cover"
                src={sunsetImage}
                alt="Sunset over a snowy landscape"
            />
        </div>
    </div>
</BaseLayout>
