<footer
  id="footer"
  class="bg-[url('images/backgrounds/campfire-sky.jpeg')] bg-cover bg-bottom text-gray-100 py-6 text-center"
>
  <p class="font-semibold text-lg">
    ©2025 Nostralys Studio • All rights reserved
  </p>
</footer>
