---
import "@/styles/global.css";

import Footer from "@/components/Footer.astro";
import Navbar from "@/components/Navbar.astro";
import Community from "@/components/Community.astro";

interface Classes {
  container?: string;
}

interface Props {
  title: string;
  classes?: Classes;
}

const { title, classes } = Astro.props;
---

<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="relative">
    <Navbar class="h-16 bg-gray-800 flex-shrink-0" />

    <!-- Main content area -->
    <main class:list={["-mt-20", classes?.container]}>
      <slot />
    </main>

    <Community />
    <Footer />
  </body>
</html>
